form {
    display: flex;
        flex-direction: column;
    max-width: var(--max-text-width);
    margin: 0 0 var(--space);
    position: relative;

    &.init {
        opacity: 0.5;
    }

    &.loading {
        opacity: 0.5;
    }
}

.loading {
    &::before {
        content: '';
        position: absolute;
        inset: 0;
    }
    &::after {
        content: '';
        margin: auto;
        position: absolute;
            inset: 0;

        width: 60px;
        aspect-ratio: 1;
        --c:no-repeat linear-gradient(var(--c-accent) 0 0);
        background:
        var(--c) left   20px top    0,
        var(--c) top    20px right  0,
        var(--c) right  20px bottom 0,
        var(--c) bottom 20px left   0;
        background-size:calc(100%/3) calc(100%/3);
        animation:
        l29-1 .75s infinite alternate linear,
        l29-2 1.5s infinite;
    }
    @keyframes l29-1 {
        90%,100% {background-size:calc(2*100%/3) calc(100%/3),calc(100%/3) calc(2*100%/3)}
    }
    @keyframes l29-2 {
        0%,49.99% {transform:scaleX(1)}
        50%,100%  {transform:scaleX(-1)}
    }
}

fieldset {
    border: 1px solid var(--c-border);
    border-radius: var(--border-radius);
    margin-bottom: var(--space);
    padding: var(--content-padding-all);
}

legend {
    background-color: var(--c-background);
    font-size: var(--p);
    font-weight: 500;
    margin: 0 auto;
    padding: var(--space-sm);

}

// form {
//     &.has-max-width {
//         max-width: var(--max-form-width);
//     }
// }

// .width-small {
//     max-width: var(--max-form-width-sm);
// }


// .form-actions {
//     border: none;
//     display: flex;
//     justify-content: space-between;
//     margin: 0;
//     padding: 0;
// }

