form {
    display: flex;
        flex-direction: column;
    max-width: var(--max-text-width);
    margin: 0 0 var(--space);
    position: relative;

    &.init {
        opacity: 0.5;
    }
}

/* HTML: <div class="loader"></div> */
.loading {
    $size: 4rem;

    &::before {
        background-color: var(--c-background);
        content: '';
        opacity: 0.5;
        position: absolute;
            inset: 0;
        z-index: calc(var(--zi-base) - 1);

    }

    &::after {
        animation: animloader 2s ease-in-out infinite;
        animation-direction: alternate;
        border-radius: 50%;
        content: '';
        height: $size;
        width: $size;
        position: absolute;
            inset: 0;
        margin: auto;
        border: calc(#{$size}/8) dotted var(--c-accent);
        outline: calc(#{$size}/10) dotted hsla(var(--c-accent-hsl), 0.5);
        z-index: var(--zi-base);
    }

    @keyframes animloader {
        0% {
            transform: scale(0.5) rotate(0deg);
            outline-offset: calc(#{$size}*0.5);
            opacity: 1;
        }
        100% {
            transform: scale(1) rotate(360deg);
            outline-offset: calc(#{$size}*-0.5);
            opacity: 0;
        }
    }
}

fieldset {
    border: var(--border-width) solid var(--c-border);
    border-radius: var(--border-radius);
    margin-bottom: var(--space);
    padding: var(--content-padding-all);
}

legend {
    background-color: var(--c-background);
    font-size: var(--p);
    font-weight: 500;
    margin: 0 auto;
    padding: var(--space-sm);

}

// form {
//     &.has-max-width {
//         max-width: var(--max-form-width);
//     }
// }

// .width-small {
//     max-width: var(--max-form-width-sm);
// }


// .form-actions {
//     border: none;
//     display: flex;
//     justify-content: space-between;
//     margin: 0;
//     padding: 0;
// }

