input[type="checkbox"],
input[type="radio"] {
    appearance: auto;
    -webkit-appearance: auto;
    background: transparent;
    width: auto;
}

.toggle-switch {
    --circle-scale: 0.7;
    --toggle-height: var(--space-med);

    display: flex;
        align-items: center;
        justify-content: start;
        gap: var(--space-sm);
    font-size: var(--sm);
    font-weight: 500;
    margin: 0 0 var(--space);
}

.toggle-switch__input {
    border-radius: 99em;
    aspect-ratio: 1.5 / 1;
    display: block;
        height: var(--toggle-height);
        width: auto;
    line-height: 1;
    margin: 0;
    padding: 0;
	position: relative;
    overflow: hidden;

    &:active::before {
        opacity: 0.7;
    }

    input[type=checkbox]{
        cursor: pointer;
        opacity: 0;
        position: absolute;
            inset: 0;
        margin: 0;
        z-index: calc(var(--zi-base) + 1);
    }

    &::before {
        aspect-ratio: 1 / 1;
        border-radius: 99em;
        content: '';
        cursor: pointer;
        height: 100%;
        position: absolute;
            top: 0;
            left: 0;
        background: var(--c-status-contrast);
        transform: scale(var(--circle-scale));
        transition: var(--transition);
    }


    &:has(input:checked) {
        //background: var(--c-success);
        background: var(--c-accent);
        // background: radial-gradient(ellipse farthest-corner at center center, var(--c-success-light) 0%, var(--c-success) 100%);
        // background: linear-gradient(-90deg, var(--c-success-light) 0%, var(--c-success) 100%);

        &::before {
            // box-shadow: 0px 0px 10px 0px var(--c-success);
            // transform: translateX(100%) scale(var(--circle-scale));
            // transform-origin: center left;
            left: calc(100% - var(--toggle-height));
        }

        ~.toggle-switch__on-label {
            //color: var(--c-success);
            color: var(--c-accent);
            opacity: 1;
        }
    }
}

.toggle-switch__off-label,
.toggle-switch__on-label {
    opacity: 0.8;
}


// filterable tables

// .bh-table-responsive input[type=checkbox]:checked+div svg.check,.bh-table-responsive input[type=checkbox]:indeterminate+div svg.intermediate {
//     --tw-text-opacity: 1;
//     color: rgb(255 255 255/var(--tw-text-opacity));
//     display: flex
// }
.bh-checkbox.bh-checkbox  {
    cursor: pointer;
    color: var(--c-accent-contrast);
    position: relative;

    input[type=checkbox] {
        cursor: pointer;
        margin: 0;
        padding: 0;
        opacity: 0;
        position: absolute;
        inset: 0;
        z-index: 10;

        &:checked,
        &:indeterminate {
            #{$hover} {
                +div {
                    opacity: 1;

                    th & {
                        .indeterminate {
                            opacity: 0;
                        }
                    }
                }
            }

            +div {
                --tw-border-opacity: 1;
                --tw-bg-opacity: 1;
                background-color: var(--c-accent);
                border-color: var(--c-accent);
                opacity: 1;

                svg {
                    fill: var(--c-accent-contrast);
                    opacity: 1;
                }
            }

            &:checked{
                +div {
                    .intermediate {
                        opacity: 0;
                        height: 0;
                        width: 0;
                    }
                }
            }

            &:indeterminate{
                +div {
                    .check {
                        opacity: 0;
                    }
                }
            }
        }

        #{$hover} {
            +div,
            +div .check {
                opacity: 0.75;
            }
        }

        +div {
            height: 1.25rem;
            width: 1.25rem;
            --tw-border-opacity: 1;
            --tw-bg-opacity: 1;
            background-color: var(--c-accent);
            border: var(--border-light);
            border-radius: var(--border-radius);
            display: grid;
                grid-template-areas: "icon";
            opacity: 0.5;
            transition: opacity var(--transition-speed-fast) var(--transition-type-motionless);
        }
    }

    svg {
        --tw-text-opacity: 1;
        fill: currentColor;
        display: flex;
        height: .75rem;
        width: .75rem;
        pointer-events: none;
        opacity: 0;
        grid-area: icon;
        margin: auto;
    }
}

