input,
textarea,
.tiptap,
.toggle-switch__input,
select  {
    // appearance: none;
    // -webkit-appearance: none;
    background-color: var(--c-input-bg);
    // for validation icons
    background-size: var(--icon-size-xs);
    background-position: var(--space-sm) center;
    background-repeat: no-repeat;
    border: 0 none;
    // border: thin solid var(--c-border);
    border-radius: var(--border-radius);
    color: var(--c-text-inc-contrast);
    box-sizing: border-box;
    font-weight: normal;
    font-size: var(--p);
    line-height: var(--line-height-sm);
    margin: 0 0 var(--space);
    padding: var(--space-sm);
    // padding-left: 1.5rem;
    width: 100%;

    // &:required:valid {
    //     background-image: url(/images/icons/check-green.svg);
    // }

    &:invalid:not(:placeholder-shown) {
        outline: 2px solid hsla(var(--c-danger-hsl), 0.5);
    }


    #{$hover} {
        outline: 2px solid hsla(var(--c-accent-hsl), 0.25);
        outline-offset: 0;
    }


    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-internal-autofill-selected,
    &:-internal-light-dark {
        background-color: transparent !important;
        // -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
        // transition: background-color 5000s ease-in-out 0s;
    }

    &::placeholder {
        color: currentColor;
        font-size: var(--p-sm);
        opacity: 0.6;
        text-transform: none;
    }

    .theme-light & {
        color-scheme: light;
    }

    .theme-dark & {
        color-scheme: dark;
    }
}

// ::-webkit-datetime-edit { padding: 1em; background-color: palevioletred;}
// ::-webkit-datetime-edit-fields-wrapper { background: teal; }
// ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
// ::-webkit-datetime-edit-month-field { color: rgb(10, 165, 165); }
// ::-webkit-datetime-edit-day-field { color: green; }
// ::-webkit-datetime-edit-year-field { color: purple; }
// ::-webkit-inner-spin-button { background-color: yellow; }
// ::-webkit-calendar-picker { color: lime; background: rgb(255, 0, 162); }
// ::-webkit-calendar-picker-indicator { color: lime; background: rgb(255, 0, 162); }


[disabled],
.disabled,
label:has(:disabled) {
    filter: grayscale(1);
    opacity: 0.6;
    pointer-events: none;

    [disabled] {
        opacity: 1;
    }
}

textarea {
    @include scrollbars();
    min-height: 160px;
}

// tiptap textarea
.rte-editor__editor {
    --max-text-width: 100%;
}

.multiselect-themed.multiselect-themed {
    padding-inline: 0;

    .multiselect-tags {
        padding: 0;
    }

    .multiselect-tag {
        background: var(--off-white);
        color: var(--biro);
        font-size: var(--xs);
        font-weight: normal;
    }
}

// input[type="tel"],
input[autocomplete="postal-code"] {
    max-width: 12ch;
}

// eg password field
.field-with-button {
    margin: 0 0 var(--space);
    position: relative;

    input {
        margin-bottom: 0;

        &[type="password"] {
            ~button {
                .show-if-text {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }

        &[type="text"] {
            ~button {
                .show-if-password {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }
    }

    button {
        display: grid;
            grid-template-areas: "icon";
            align-items: center;
            justify-content: center;
        padding: 0 var(--space-sm);
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
    }

    .icon {
        grid-area: icon;
    }
}

.combobox {
    input[type="search"] {
        margin: 0;

        &:focus {
            ~ .combobox__options {
                @include scrollbars($alt-theme: true);
                max-height: 50vh;
                overflow-y: auto;
                opacity: 1;
                z-index: var(--zi-base);
                padding: var(--space-sm);
            }
        }
    }
}

.combobox__options {
    // background-color: var(--c-input-bg);
    // color: var(--c-text-inc-contrast);
    box-shadow: var(--box-shadow-elevate);
    list-style: none;
    margin: 0;
    padding: var(--space-sm) 0;
    max-height: 0;
    // overflow: hidden; // breaking functionality
    transition: all var(--transition-speed) (--transition-type-show);
    z-index: -1;
    opacity: 0;

    li {
        position: relative;

        &:empty {
            display: none;
        }
    }

    label {
        #{$hover} {
            color: var(--c-accent);
        }
    }

    input {
        &,
        &:disabled {
            position: absolute;
            opacity: 0;
        }

    }

    label {
        padding-inline: 0;
    }
}