input,
textarea,
select  {
    // appearance: none;
    // -webkit-appearance: none;
    background-color: hsla(var(--c-text-hsl), 0.05);
    // for validation icons
    background-size: var(--icon-size-xs);
    background-position: var(--space-sm) center;
    background-repeat: no-repeat;
    border: 0 none;
    // border: thin solid var(--c-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-weight: normal;
    font-size: var(--p);
    line-height: var(--line-height-sm);
    margin: 0 0 var(--space);
    padding: var(--space-sm);
    // padding-left: 1.5rem;
    width: 100%;

    &[disabled] {
        filter: grayscale(1);
        pointer-events: none;
    }

    // &:required:valid {
    //     background-image: url(/images/icons/check-green.svg);
    // }

    // &:invalid {
    //     background-image: url(/images/icons/cross-red.svg);
    // }


    &:hover,
    &:focus {
        outline: 2px solid hsla(var(--c-accent-hsl), 0.5);
        outline-offset: 0;
    }


    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-internal-autofill-selected,
    &:-internal-light-dark {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

textarea {
    min-height: 160px;
}


.multiselect-themed.multiselect-themed {
    padding-inline: 0;

    .multiselect-tags {
        padding: 0;
    }

    .multiselect-tag {
        background: var(--off-white);
        color: var(--biro);
        font-size: var(--xs);
        font-weight: normal;
    }
}

// input[type="tel"],
input[autocomplete="postal-code"] {
    max-width: 20ch;
}

// eg password field
.field-with-button {
    margin: 0 0 var(--space);
    position: relative;

    input {
        margin-bottom: 0;

        &[type="password"] {
            ~button {
                .show-if-text {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }

        &[type="text"] {
            ~button {
                .show-if-password {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }
    }

    button {
        display: grid;
            grid-template-areas: "icon";
            align-items: center;
            justify-content: center;
        padding: 0 var(--space-sm);
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
    }

    .icon {
        grid-area: icon;
    }
}