label {
    font-size: var(--p-sm);
    font-weight: 500;
    display: flex;
        gap: var(--space-xxs);
    //margin: 0 0 var(--space-sm) 0;
    margin: 0;
    padding: 0;
    text-transform: capitalize; // for when object keys are used to generate label text, eg billing preferences
}