:root {
    --border-radius-sm: 0.1rem;
    --border-radius: 0.2rem;
    --border-width: 1px;
    --border-style: solid;
    --border: var(--border-width) var(--border-style) var(--c-border);
    --border-light: var(--border-width) var(--border-style) var(--c-border-light);
}