// #002D55 rgb(0, 45, 85) hsl(208, 100%, 17%)
// #FDF1E3 rgb(253, 241, 227) hsl(32, 87%, 94%)
// #C1BFBA // rgb(193, 191, 186) hsl(43, 5%, 75%)
// #ff694c rgb(255, 105, 76) hsl(10, 100%, 65%)

:root {
    --text-opacity: 1;

    --c-text-hsl: 208, 100%, 17%;
    --c-text: hsl(var(--c-text-hsl));

    // --c-background-hsl: 32, 80%, 98%;
    // --c-background: hsl(var(--c-background-hsl));
    --c-background-hue: 32;
    --c-background-sat: 80%;
    --c-background-bri: 98%;
    --c-background: hsl(var(--c-background-hue), var(--c-background-sat), var(--c-background-bri));

    --c-neutral-hsl: 43, 5%, 75%;
    --c-neutral: hsl(var(--c-neutral-hsl));

    // --c-neutral-hue: 43;
    // --c-neutral-sat: 5%;
    // --c-neutral-bri: 75%;
    // --c-neutral: hsl(var(--c-neutral-hue), var(--c-neutral-sat), var(--c-neutral-bri));

    --c-accent-hsl: 10, 100%, 64%;
    --c-accent: hsl(var(--c-accent-hsl));
    --c-accent-contrast-hsl: 32, 90%, 99%;
    --c-accent-contrast: hsl(var(--c-accent-contrast-hsl));

    --c-border-light: hsla(var(--c-text-hsl), 0.1);
}