// #002D55 rgb(0, 45, 85) hsl(208, 100%, 17%)
// #FDF1E3 rgb(253, 241, 227) hsl(32, 87%, 94%)
// #C1BFBA rgb(193, 191, 186) hsl(43, 5%, 75%)
// #BAD1D8 rgb(186, 209, 216) hsl(193, 13%, 84%)
// #E6EEF1 rgb(230, 238, 241) hsl(196, 4%, 94%)
// #ff694c rgb(255, 105, 76) hsl(10, 100%, 65%)

:root {
    --text-opacity: 1;

    --c-text-hue: 208;
    --c-text-sat: 100%;
    --c-text-lum: 17%;
    --c-text-hsl: var(--c-text-hue), var(--c-text-sat), var(--c-text-lum);
    --c-text: hsl(var(--c-text-hsl));
    --c-text-dark: hsl(var(--c-text-hue), var(--c-text-sat), calc(var(--c-text-lum) - 5%));
    --c-text-lighter: hsl(var(--c-text-hue), var(--c-text-sat), 25%);
    --c-text-ultralight: hsl(var(--c-text-hue), var(--c-text-sat), 96%);
    --c-text-ultralight-hover: hsl(var(--c-text-hue), var(--c-text-sat), 92%);


    --c-background-hsl: 32, 80%, 98%;
    --c-background: hsl(var(--c-background-hsl));
    --c-background-hue: 32;
    --c-background-sat: 80%;
    --c-background-lum: 98%;
    --c-background: hsl(var(--c-background-hue), var(--c-background-sat), var(--c-background-lum));
    // --c-background-hue: 186;
    // --c-background-sat: 5%;
    // --c-background-lum: 96%;
    // --c-background: hsl(var(--c-background-hue), var(--c-background-sat), var(--c-background-lum));
    // --c-background-2: hsl(193, 13%, 84%);

    // --c-neutral-hsl: 43, 5%, 75%;
    // --c-neutral: hsl(var(--c-neutral-hsl));

    --c-neutral-hue: 0;
    --c-neutral-sat: 0%;
    --c-neutral-lum: 50%;
    --c-neutral-hsl: var(--c-neutral-hue), var(--c-neutral-sat), var(--c-neutral-lum);
    --c-neutral: hsl(var(--c-neutral-hsl));

    --c-black: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 0);
    --c-white: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 100%);
    --c-neutral-10: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 10%);
    --c-neutral-20: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 20%);
    --c-neutral-30: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 30%);
    --c-neutral-40: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 40%);
    --c-neutral-50: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 50%);
    --c-neutral-60: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 60%);
    --c-neutral-70: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 70%);
    --c-neutral-80: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 80%);
    --c-neutral-90: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 90%);
    --c-neutral-95: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 95%);
    --c-neutral-97: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 97%);
    --c-neutral-100: hsl(var(--c-neutral-hue), var(--c-neutral-sat), 100%);



    // please also check the colors of the icons in the public icons folder if these change
    --c-success-hue: 99;
    --c-success-sat: 57%;
    --c-success-lum: 50%;
    --c-success-hsl: var(--c-success-hue), var(--c-success-sat), var(--c-success-lum);
    --c-success: hsl(var(--c-success-hsl));
    --c-success-dark: hsl(var(--c-success-hue), var(--c-success-sat), 30%);
    --c-success-light: hsl(var(--c-success-hue), var(--c-success-sat), 90%);

    --c-warning-hue: 40;
    --c-warning-sat: 87%;
    --c-warning-lum: 69%;
    --c-warning-hsl: var(--c-warning-hue), var(--c-warning-sat), var(--c-warning-lum);
    --c-warning: hsl(var(--c-warning-hsl));
    --c-warning-dark: hsl(var(--c-warning-hue), var(--c-warning-sat), 40%);
    --c-warning-light: hsl(var(--c-warning-hue), var(--c-warning-sat), 90%);

    --c-danger-hue: 0;
    --c-danger-sat: 65%;
    --c-danger-lum: 59%;
    --c-danger-hsl: var(--c-danger-hue), var(--c-danger-sat), var(--c-danger-lum);
    --c-danger: hsl(var(--c-danger-hsl));
    --c-danger-dark: hsl(var(--c-danger-hue), var(--c-danger-sat), 40%);
    --c-danger-light: hsl(var(--c-danger-hue), var(--c-danger-sat), 90%);

    --c-info-hue: 208;
    --c-info-sat: 65%;
    --c-info-lum: 69%;
    --c-info-hsl: var(--c-info-hue), var(--c-info-sat), var(--c-info-lum);
    --c-info: hsl(var(--c-info-hsl));
    --c-info-dark: hsl(var(--c-info-hue), var(--c-info-sat), 40%);
    --c-info-light: hsl(var(--c-info-hue), var(--c-info-sat), 90%);

    --c-status-contrast: var(--c-white);

    --c-accent-hue: 10;
    --c-accent-sat: 100%;
    --c-accent-lum: 64%;
    --c-accent-hsl: var(--c-accent-hue), var(--c-accent-sat), var(--c-accent-lum);
    --c-accent: hsl(var(--c-accent-hsl));
    // --c-accent-dark: hsl(var(--c-accent-hue), var(--c-accent-sat), 40%);
    // --c-accent-light: hsl(var(--c-accent-hue), var(--c-accent-sat), 90%);

    --c-accent-contrast-hsl: 32, 90%, 100%;
    --c-accent-contrast: hsl(var(--c-accent-contrast-hsl));

    --c-border: hsla(var(--c-text-hsl), 0.4);
    --c-border-light: hsla(var(--c-text-hsl), 0.1);
}