:root {
    --box-shadow-card: 0 2px 4px hsla(var(--c-text-hsl), 0.033), 0 -2px 4px  hsla(var(--c-text-hsl), 0.066);
    --box-shadow-card-hover: 0 4px 12px hsla(var(--c-text-hsl), 0.05);
    --box-shadow-soft: 0 13px 11px hsla(var(--c-text-hsl), 0.05);
    --box-shadow-elevate: 0 0 8px 4px hsla(var(--c-text-hsl), 0.05);
    --box-shadow-swatch: 0px 0px 1px 1px hsla(var(--c-text-hsl), 0.15);
}
