:root {
    --box-shadow-card: 0 2px 4px hsla(var(--c-text-hsl), 0.05);
    --box-shadow-card-hover: 0 4px 12px hsla(var(--c-text-hsl), 0.05);
    --box-shadow-soft: 0 13px 11px hsla(var(--c-text-hsl), 0.05);
}
