:root {
    --h0: 2.8rem;
    --h1: 2.4rem;
    --h2: 2.0rem;
    --h3: 1.6rem;
    --h4: 1.3rem;
    --h5: 1.2rem;
    --h6: 1rem;
    --p: 1rem;
    --p-sm: 0.9rem;
    --sm: 0.8rem;
    --xs: 0.7rem;
    --font-body: 'lexend', sans-serif;
    --font-heading: 'Passion One', sans-serif;

    // @include breakpoint(med) {
    //     --h1: 3rem;
    //     --h4: 2.4rem;
    // }
}