.main-header {
    background: var(--c-background);
    box-shadow: var(--box-shadow-soft);
    color: var(--c-text);
    display: grid;
        gap: var(--space-med);
        grid-template-areas: 'hamburger brand cta' 'nav nav blank';
        grid-template-columns: max-content 1fr max-content;
        align-items: center;
    padding: var(--space-sm) var(--content-padding) var(--space-sm);
    position: sticky;
        top: 0;
        left: 0;
    z-index: var(--zi-header);

    @include breakpoint(lg) {
        grid-template-areas: 'brand nav cta';
        grid-template-columns: 1fr auto max-content;
    }
}

.main-header__brand {
    grid-area: brand;
    margin-right: var(--space-med);
    position: relative;
}

.main-header__nav-toggle {
    grid-area: hamburger;
    display: flex;
        align-items: center;

    @include breakpoint(lg) {
        display: none;
    }
}

.main-header__nav-close {
    color: var(--c-accent);
    opacity: 0.7;
    padding: var(--space);
    margin-left: auto;

    @include breakpoint(lg) {
        display: none;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.main-menu {
    grid-area: nav;

    @include hide;
    @include scrollbars;
    background: hsl(var(--c-background-hue), var(--c-background-sat), calc(var(--c-background-lum) - 5%));
    display: flex;
        flex-direction: column;
    position: fixed;
        top: 0;
        bottom: 0;
        right: auto;
        left: -4rem;

    .menu-open & {
        @include show;
        box-shadow: var(--box-shadow-soft);
        left: 0;
    }

    @include breakpoint(lg) {
        @include show;
        background: transparent;
        flex-direction: row;
        position: relative;

            right: initial;
            left: initial;
        margin-left: auto;

        .menu-open & {
            box-shadow: none;
        }
    }
}

.main-menu__list {
    display: flex;
        flex-direction: column;
    gap: var(--space-sm);

    @include breakpoint(lg) {
        flex-direction: row;
    }

    > li {
        display: flex;
            flex-direction: column;
        margin: 0;
        padding: 0;
        position: relative;

        &:hover,
        &:focus {
            .main-menu__item {
                color: currentColor;
                text-decoration-color: var(--c-accent);

                :where(a) {
                    text-decoration-style: wavy;
                }

                .icon {
                    color:  var(--c-accent);
                    transform: translateY(2px);
                }
            }

            .main-menu__dropdown {
                @include show;
                max-height: none;
                top: 100%;
            }
        }
    }
}

.main-menu__item {
    cursor: pointer;
    display: flex;
        gap: var(--space-sm);
        align-items: center;
    padding: var(--space-sm) var(--space);
    text-decoration: underline;
    text-underline-offset: 0.6ex;
    //text-decoration: none;
    transition: var(--transition);
    text-decoration-color: hsla(var(--c-text-hsl), 0.25);

    @include breakpoint(lg) {
        padding: var(--content-padding) var(--space);
        text-decoration-style: wavy;
    }
}

.main-menu__dropdown {
    @include breakpoint(lg) {
    @include hide;

    background-color: var(--c-background);
    box-shadow: var(--box-shadow-soft);
    max-height: none;
    width: max-content;
    max-width: 80vw;
    padding: var(--space-sm) 0;
    position: absolute;
        top: calc(100% - 2rem);
        left: 0;
    }

    a,
    button {
        display: block;
        flex: 0 0 auto;
        padding: var(--space-xs) var(--space);
        text-decoration: none;
    }
}