.m-bottom {
    margin-bottom: var(--space) !important;
}

.m-bottom-0 {
    margin-bottom: 0 !important;
}

.m-bottom-med {
    margin-bottom: var(--space-med) !important;
}

.m-top {
    margin-top: var(--space) !important;
}

.m-top {
    margin-top: var(--space-xs) !important;
}

.m-top-0 {
    margin-top: 0 !important;
}

.sticky {
    position: sticky;
        top: calc(var(--header-height) + var(--space-xl));
    align-self: start;
}

.sr-only {
    @include sr-only;
}

.w-100 {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
}

.mobile-hide {
    @include breakpoint('med', $max-width: true) {
        display: none;
    }
}

.capitalise {
    text-transform: capitalize;
}