.btn {
    background: hsla(var(--c-accent-hsl), 0.85);
    border-radius: var(--border-radius);
    color: hsla(var(--c-accent-contrast-hsl), 1);
    display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);
    font-size: var(--font-size-p);
    line-height: var(--line-height-sm);
    padding: var(--space-sm) var(--space);
    text-decoration: none;
    transition: background var(--transition-speed-fast) var(--transition-type-motionless), box-shadow var(--transition-speed-fast) var(--transition-type-motionless);
    white-space: nowrap;

    &:hover,
    &:focus {
        background: hsla(var(--c-accent-hsl), 1);

        box-shadow: var(--box-shadow-card-hover);
        color: var(--c-accent-contrast);

        .icon {
            &:last-child {
                transform: translateX(2px);
            }
        }
    }

    .icon {
        flex-shrink: 0;
        transition: all var(--transition-speed-fast) var(--transition-type-motionless);
    }
}


// .btn--secondary {
//     background: transparent;
//     color: var(--c-accent);
//     position: relative;

//     &::before {

//     }
// }

.btn--secondary {
    background: transparent;
    color: var(--c-accent);
    outline: 2px solid;

    &:hover,
    &:focus {
        box-shadow: none;
        background: var(--c-accent);
        color: var(--c-accent-contrast);
        outline-color: var(--c-accent);
        outline-offset: -1px;
    }
}

.btn--tertiary {
    background: transparent;
    color: var(--c-text);
    opacity: 0.8;
    outline: 1px solid;

    &:hover,
    &:focus {
        background: transparent;
        box-shadow: none;
        color: var(--c-accent);
        opacity: 1;
    }
}
