.card {
    // background: var(--c-white);
    background: var(--c-background-alt);
    border-radius: var(--space-sm);
    box-shadow: var(--box-shadow-card);
    container-type: inline-size;
    display: flex;
        flex-direction: column;
    margin-bottom: var(--space);
    overflow: hidden;
    // padding: var(--content-padding-all);
}

.card__header {
    display: flex;
        justify-content: space-between;
        gap: var(--space-med);
        align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
    padding: var(--content-padding);
    position: relative;
    overflow: hidden;

    .card--solid-header & {
        background-color: var(--c-text);
        color: var(--c-background);
        margin-bottom: var(--space);
        padding-block: var(--space);
    }

    .card--header-bk & {
        background-color: hsla(var(--c-accent-hsl), 0.09);
        color: var(--c-text);
        // background-color: var(--c-text);
        // color: var(--c-background);
        // border-bottom: var(--border);
        margin-bottom: var(--space);
        padding-block: var(--space);
    }

    #{$hover} {
        button {
            opacity: 1;
        }
    }

    button {
        opacity: 0.4;

        .editing & {
            opacity: 1;
        }
    }
}

.card__header--actions {
    display: flex;
        gap: var(--space-xs);
    flex-shrink: 0;
    margin-left: auto;
}

.card__header--heading {
    margin: 0;
    padding: 0;
}

.card__body {
    padding: var(--content-padding-all);
    padding-top: 0;
    position: relative;
}

.card__footer {
    // background-color: var(--c-background);
    // border-top: var(--border-light);
    padding: var(--space-sm) var(--content-padding) 0;

    p {
        margin-bottom: var(--space-sm);
    }
}

// .card__header-watermark {
//     width: 33%;
//     aspect-ratio: 1/1;
//     opacity: 0.1;
//     pointer-events: none;
//     position: absolute;
//         top: 0;
//         left: 0;

//     svg {
//         height: 100%;
//         width: 100%;
//     }
// }