.admin-header {
    display: flex;
        gap: var(--space);
        justify-content: space-between;
    margin: 0 0 var(--space);

    @include breakpoint(lg) {
        gap: var(--space-med);
    }
}
