:root {
    // todo: check these
    --icon-size-xs: 0.66rem;
    --icon-size-sm: 0.94rem;
    // --icon-size: calc((1em + var(--space-xs))*1px);
    --icon-size: 1.1rem;
    --icon-size-med: 1.4rem;
    --icon-size-lg: 2.2rem;
}

// iconoir icons
svg,
path {
    stroke-width: 2;
    display: inline-block;
        height: var(--icon-size);
        width: var(--icon-size);
    flex-shrink: 0;
    line-height: 1;
    transition: var(--transition);
}

.icon {
    fill: currentColor;
    overflow: visible;
}

.icon--xs {
    max-height: var(--icon-size-xs);
    max-width: var(--icon-size-xs);
}

.icon--sm {
    max-height: var(--icon-size-sm);
    max-width: var(--icon-size-sm);
}

// .icon--med {
//     height: var(--icon-size-md);
//     width: var(--icon-size-md);
// }

.icon--lg {
    height: var(--icon-size-lg);
    width: var(--icon-size-lg);
}