.snackbar-message-custom.snackbar-message-custom {
    &.is-dense {
        .vue3-snackbar-message-wrapper {
            padding: var(--space-xs) var(--space-sm);
        }
    }

    &.error {
        color: var(--c-status-contrast);
        background-color: var(--c-danger);
    }

    .vue3-snackbar-message-title {
        font-weight: normal;
        font-size: var(--p-sm);

        &::first-letter {
            text-transform: capitalize;
        }
    }

    .vue3-snackbar-message-close {
        button {
            justify-content: end;
            opacity: 0.5;

            #{$hover} {
                opacity: 0.75;
            }

            &::before {
                content: none !important;
            }
        }
    }

    .vue3-snackbar-message-icon {
        margin-right: var(--space-sm);
    }

}